<div class="dropdown">
    <span><i class="fa fa-filter" aria-hidden="true">RAM(Size)</i></span>
    <div class="dropdown-content">
        <input type="checkbox" id="2GB" value="2" (change)="checkValue($event)">2 GB<br>
        <input type="checkbox" id="4GB" value="4" (change)="checkValue($event)">4 GB<br>
        <input type="checkbox" id="8GB" value="8" (change)="checkValue($event)">8 GB<br> 
        <input type="checkbox" id="12GB" value="12" (change)="checkValue($event)">12GB<br>
        <input type="checkbox" id="16GB" value="16" (change)="checkValue($event)">16GB<br>
        <input type="checkbox" id="24GB" value="24" (change)="checkValue($event)">24GB<br>
        <input type="checkbox" id="32GB" value="32" (change)="checkValue($event)">32GB<br>
        <input type="checkbox" id="48GB" value="48" (change)="checkValue($event)">48GB<br>
        <input type="checkbox" id="64GB" value="64" (change)="checkValue($event)">64GB<br>
        <input type="checkbox" id="96GB" value="96" (change)="checkValue($event)">96GB<br>
    </div>
  </div>