<div class="container sizecontainer">
  <div class="text-left">
      <div class="card" style="width: 100%;">
        <div class="card-body">
            <h3 class="card-title">Welcome to Locate Server App!</h3>
        </div>
      </div>
      <p></p>
      <app-dynamictable [serverData]="allItems"></app-dynamictable> 
      <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Instructions</h5>
              <p class="card-text">Hover on the <i class="fa fa-filter" aria-hidden="true"></i>icon to display filter. Click on <i class="fas fa-times-circle"></i>to clear all filters </p>
            </div>
          </div>
</div>
